<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/style-dash.css">
    <title>Dashboard</title>
</head>

<body>
    <div class="header">
        <a href="/" class="btn-grad d-flex align-items-center justify-content-center text-decoration-none" type="button">SAIR</a>
    </div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">

        <div class="sidebar-topo">
            <div class="img-logo">
                <img src="../images/CARTEIRINHAS ICONE.png" alt="Logo carteirinha">
            </div>
            <div class="img-texto">
                <img src="../images/fasipe-logo.png" alt="sistema de carteirinha">
            </div>
        </div>

        <ul class="sidebarMenuInner">
            <% if(admin == false){%>
                <li><a href="/historico?id=<%= data[0].id%>"><i class="fas fa-clipboard-check"></i>Histórico</a></li>
            <%}%>    
            <% if(admin == true){ %>
                <li><a href="/relatorio?id=<%= data[0].id%>"><i class="fas fa-clipboard-check"></i>Relatório</a></li>
            <%}%>
            <li><a href="/alterar/info?id=<%= data[0].id %>"><i class="fas fa-users-cog"></i>Ajustes</a></li>
        </ul>
    </div>
    <main class="main">
        <div class="foto-div">
            <img class="foto" src="../<%= data[0].foto%>">
        </div>    
        <% let nome = data[0].nome %>
        <% let nomeFormatado = nome.split(' ') %>
        <h1>Bem vindo <%= nomeFormatado[0] %> !</h1>


        <h4>Confira suas aulas no dia de hoje :</h4>
        <div class="aulas">
            <div class="materia d-flex flex-column align-items-center">
                <table class="table w-75 table-dark table-borderless table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Dia</th>
                        <th scope="col">Matéria</th>
                        <th scope="col">Professor</th>
                        <th scope="col">Sala</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-active">
                        <th scope="row">1</th>
                        <td>Sexta-Feira</td>
                        <td>Projeto Interdiciplinar</td>
                        <td>William H.</td>
                        <td>LAB.INFO</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Sexta-Feira</td>
                        <td>Projeto Interdiciplinar</td>
                        <td>William H.</td>
                        <td>LAB.INFO</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>




        <% if(presenca == ''){ %>
            <div class="info">
                    <p class="aviso">Você ainda não marcou sua presença !</p>
                    <a href="/marcar/presenca?id=<%= data[0].id %>" ><button class="presença">Marcar sua presença</button></a>
            </div>
        <%}%>
    
    </main>
    <script src="../js/script.js"></script>
</body>

</html>